{% extends 'blog/base.html' %}


{% block body %}
    {% load static %}
    {% load widget_tweaks %}
    <body>


    <div class="header-logo py-5 d-none d-lg-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <a class="navbar-brand" href="{% url 'blogs' %}"><img src="{% static 'blog/images/logo.png' %}"
                                                                          alt=""
                                                                          class="img-fluid w-100"></a>
                </div>
            </div>
        </div>
    </div>

    <header class="header-top bg-grey justify-content-center">
        <nav class="navbar navbar-expand-lg navigation">
            <div class="container">
                <a class="navbar-brand d-lg-none" href="{% url 'blogs' %}"><img
                        src="{% static 'blog/images/logo.png' %}"
                        alt=""
                        class="img-fluid"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul id="menu" class="menu navbar-nav ">
                        <li class="nav-item dropdown  pl-0">
                            <a class="nav-link " href="{% url 'blogs' %}" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                Home
                            </a>

                        </li>

                        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        <li class="nav-item d-lg-none">
                            <div class="search_toggle p-3 d-inline-block bg-white"><i class="ti-search"></i></div>
                        </li>
                    </ul>
                </div>

                <div class="text-right search d-none d-lg-block">
                    <div class="search_toggle"><i class="ti-search"></i></div>
                </div>
            </div>
        </nav>

    </header>
    <!--search overlay start-->
    <div class="search-wrap">
        <div class="overlay">
            <form action="#" class="search-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-9">
                            <input type="text" class="form-control" placeholder="Search..."/>
                        </div>
                        <div class="col-md-2 col-3 text-right">
                            <div class="search_toggle toggle-wrap d-inline-block">
                                <i class="ti-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--search overlay end-->

    <section class="single-block-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="single-post">
                        <div class="post-header mb-5 text-center">
                            <div class="meta-cat">
                                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1"
                                   href="#">Health ,</a>
                                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1"
                                   href="#">lifestyle</a>
                            </div>
                            <h2 class="post-title mt-2">
                                {{ blog.name }}
                            </h2>

                            <div class="post-meta">
                                <span class="text-uppercase font-sm letter-spacing-1 mr-3">{{ blog.author }}</span>
                                <span class="text-uppercase font-sm letter-spacing-1">{{ blog.post_date }}</span>
                            </div>
                            <div class="post-featured-image mt-5">
                                <img src="{{ blog.banner_image.url }}" class="img-fluid w-100" alt="featured-image">
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="entry-content">
                                <p> It was a cheerful prospect. I asked Perry what he thought about it; but he only
                                    shrugged his shoulders and continued a longwinded prayer he had been at for some
                                    time. He was wont to say that the only redeeming feature of our captivity was the
                                    ample time it gave him for the improvisation of prayers—it was becoming an obsession
                                    with him.</p>


                            </div>


                            <div
                                    class="tags-share-box center-box d-flex text-center justify-content-between border-top border-bottom py-3">

                                <span class="single-comment-o"><i class="fa fa-comment-o"></i>0 comment</span>

                                <div class="post-share">
                                    <span class="count-number-like">2</span>
                                    <a class="penci-post-like single-like-button"><i class="ti-heart"></i></a>
                                </div>

                                <div class="list-posts-share">
                                    <a target="_blank" rel="nofollow" href="#"><i class="ti-facebook"></i></a>
                                    <a target="_blank" rel="nofollow" href="#"><i class="ti-twitter"></i></a>
                                    <a target="_blank" rel="nofollow" href="#"><i class="ti-pinterest"></i></a>
                                    <a target="_blank" rel="nofollow" href="#"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for comment in blog.blogcomment_set.all %}
                        <div class="comment-area my-5">
                            <h3 class="mb-4 text-center">2 Comments</h3>
                            <div class="comment-area-box media">
                                <img alt="" src="{% static 'blog/images/blog-user-2.jpg' %}"
                                     class="img-fluid float-left mr-3 mt-2">

                                <div class="media-body ml-4">
                                    <h4 class="mb-0">{{ comment.author }}</h4>
                                    <span class="date-comm font-sm text-capitalize text-color"><i
                                            class="ti-time mr-2"></i>({{ comment.post_date }}) </span>
                                    <div class="comment-content mt-3">
                                        <p>{{ comment.description }}</p>
                                    </div>
                                    <div class="comment-meta mt-4 mt-lg-0 mt-md-0">
                                        <a href="#" class="text-underline ">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if user.is_authenticated %}
                        <form class="comment-form mb-5 gray-bg p-5" id="comment-form">
                            <h3 class="mb-4 text-center">Leave a comment</h3>
                            <div class="row">
                                {{ form.as_table }}
                            </div>

                            <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                   value="Submit Message">
                        </form>
                    {% else %}
                        <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a> to add a new comment</p>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="sidebar-wrap mt-5 mt-lg-0">
                            <div class="sidebar-widget about mb-5 text-center p-3">
                                <div class="about-author">
                                    <img src="{% static 'blog/images/author.jpg' %}" alt="" class="img-fluid">
                                </div>
                                <h4 class="mb-0 mt-4">{{ blog.author }}</h4>
                                <p>Travel Blogger</p>
                                <p>{{ blog.author.bio }}</p>
                                <img src="{{ blog.author.author_avatar }}" alt="" class="img-fluid">
                            </div>

                            <div class="sidebar-widget follow mb-5 text-center">
                                <h4 class="text-center widget-title">Follow Me</h4>
                                <div class="follow-socials">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter"></i></a>
                                    <a href="#"><i class="ti-instagram"></i></a>
                                    <a href="#"><i class="ti-youtube"></i></a>
                                    <a href="#"><i class="ti-pinterest"></i></a>
                                </div>
                            </div>


                            <div class="sidebar-widget category mb-5">
                                <h4 class="text-center widget-title">Catgeories</h4>
                                <ul class="list-unstyled">
                                    <li class="align-items-center d-flex justify-content-between">
                                        <a href="#">Innovation</a>
                                        <span>14</span>
                                    </li>
                                    <li class="align-items-center d-flex justify-content-between">
                                        <a href="#">Software</a>
                                        <span>2</span>
                                    </li>
                                    <li class="align-items-center d-flex justify-content-between">
                                        <a href="#">Social</a>
                                        <span>10</span>
                                    </li>
                                    <li class="align-items-center d-flex justify-content-between">
                                        <a href="#">Trends</a>
                                        <span>5</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="sidebar-widget subscribe mb-5">
                                <h4 class="text-center widget-title">Newsletter</h4>
                                <input type="text" class="form-control" placeholder="Email Address">
                                <a href="#" class="btn btn-primary d-block mt-3">Sign Up</a>
                            </div>

                            <div class="sidebar-widget sidebar-adv mb-5">
                                <a href="#"><img src="{% static 'blog/images/sidebar-banner3.png' %} " alt=""
                                                 class="img-fluid w-100"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    </body>

{% endblock body %}