{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% block body %}
    {% load static %}
    <div class="d-md-flex half">
        <div class="bg" style="background-image: url({% static 'registration/images/bg_1.jpg' %});"></div>
        <div class="contents">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        {% if validlink %}
                            <div class="form-block mx-auto">
                                <div class="text-center mb-5">
                                    <h3 class="text-uppercase">Password reset <strong><a
                                            href="{% url 'blogs' %}">DiyBlog</a></strong></h3>
                                </div>
                                <form action="#" method="post">

                                    <div class="form-group first">
                                        {% csrf_token %}

                                        <p>{{ form.new_password1.errors }}</p>
                                        <label for="new_password1">New Password</label>
                                        <p>{% render_field form.new_password1 class="form-control" %}</p>


                                        <p>{{ form.new_password2.errors }}</p>
                                        <label for="new_password2">Confirm Passowrd</label>
                                        <p>{% render_field form.new_password2 class="form-control" %}</p>
                                        <input type="submit" class="btn btn-block py-2 btn-primary"
                                               value="Change my password">
                                    </div>

                                </form>
                            </div>
                        {% else %}
                            <h1>Password reset failed</h1>
                            <p>The password reset link was invalid, possibly because it has already been used. Please
                                request a new password
                                reset.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
